<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

        <a class="navbar-brand" href="/">
            🛒 Tienda Libre
        </a>

        <div class="navbar-nav flex-row ms-auto">

            <a class="nav-link mx-2" href="/">
                Inicio
            </a>

            <a class="nav-link mx-2" href="#">
                Productos
            </a>

            <a class="nav-link mx-2" href="#">
                Acerca de mí
            </a>

        </div>

    </div>
</nav>